[Bb]in/
build/
[Rr]elease/
[Dd]ebug/
config_headers
*.o
*.so
*~
*.swp
__*/
*.vcxproj.user
*.vcxproj
*.vcxproj.filters
CMakeFiles
CPackConfig.cmake
CPackSourceConfig.cmake
*.sln
cmake_install.cmake
CMakeCache.txt
.vs

